body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    position: relative;
    transition: color 0.1s ease;
    font-size: 1.5rem;
    color: rgb(237, 242, 244);
    transition: color 0.3s ease;
}

a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #D90429;
    transition: width 0.5s ease;
}

a:link {
    color: #ffa298;
}

a:hover {
    color: #D90429;
}

a:hover::after {
    width: 100%;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.settings {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 300px;
    height: 100vh;
    background-color: rgb(141, 153, 174);
}

.settings-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 15px);
    max-height: calc(100% - 30px);
    margin-top: 15px;
    background-color: rgb(237, 242, 244);
    border-radius: 10px;
    overflow: auto;
    scrollbar-width: none;

}

.settings-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: calc(100% - 20px);
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(43, 45, 66);
    border-radius: 10px;
    min-height: 57px;
}

.span-settings {
    display: flex;
    align-items: center;
}

.text-settings {
    font-family: monospace;
    color: rgb(237, 242, 244);
    font-size: 2rem;
}

.settings-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 20px);
    background-color: rgb(239, 35, 60);
    border-radius: 10px;
    gap: 30px;
}

.algorithms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.text-options {
    color: rgb(237, 242, 244);
    font-size: 1.25rem;
    font-family: monospace;
}

.label-algorithm {
    box-sizing: border-box;
    height: 48px;
}

.select-algorithm {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 7px 40px 7px 12px;
    width: 200px;
    border: 1px solid #c9cfd8;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 18px;
    transition: all 150ms ease;
    box-sizing: border-box;
    color: #404d68;
}

.select-algorithm:focus {
    outline: none;
    box-shadow: 0 0 0px 2px rgb(4, 167, 217);
}


.select-arrow {
    position: relative;
    top: -2px;
    right: 30px;
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
    box-sizing: border-box;
}

.select-algorithm:hover+.select-arrow {
    stroke: rgb(4, 167, 217);
}

.select-algorithm:focus+.select-arrow {
    stroke: rgb(4, 167, 217);
}

.generate-button {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd, sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s, background-position .2s;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    transition: ease 0.1s;
}

.generate-button:focus {
    outline: none;
}

.generate-button:active {
    transform: translateY(3px);
    transition: ease 0.1s;
}

.generate-button:hover {
    background-position: -20px -20px;
}

.generate-button:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.solve-button {
    background-image: linear-gradient(1deg, #4CAF50, #8BC34A);
    margin-bottom: 11px;
}

.btn-actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.action-button {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.paintbrush-button {
    background-color: rgb(11, 133, 214);
    border: solid 1px rgb(41, 11, 214);
    transition: ease 0.3s;
}

.paintbrush-button:hover {
    transition: ease 0.3s;
    box-shadow: 0px 0px 10px 3px rgb(41, 11, 214);
}

.pen-button {
    background-color: rgb(43, 45, 66);
    border: solid 1px rgb(0, 0, 0);
    transition: ease 0.1s;
}

.pen-button:hover {
    transition: ease 0.3s;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0);
}

.rubber-button {
    background-color: rgb(201, 201, 201);
    border: solid 1px rgb(255, 255, 255);
    transition: ease 0.3s;
}

.rubber-button:hover {
    transition: ease 0.3s;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255);
    ;
}

.trash-button {
    background-color: rgb(217, 4, 41);
    border: solid 1px rgb(141, 0, 0);
    transition: ease 0.3s;
}

.trash-button:hover {
    transition: ease 0.3s;
    box-shadow: 0px 0px 10px 3px rgba(141, 0, 0);
}

.action-button img {
    width: 24px;
    height: 24px;
    -webkit-user-drag: none;
}

.settings-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 20px);
    background-color: rgb(141, 153, 174);
    border-radius: 10px;
    margin-bottom: 10px;
    gap: 10px;
    padding-bottom: 10px;
}

.maze-container {
    background-color: rgb(141, 153, 174);
    width: calc(100vw - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.maze {
    position: relative;
    z-index: 0;
}

#maze {
    background-color: rgb(237, 242, 244);
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(6, 13, 29, 0.700);
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

.cell1 {
    background-color: rgb(255, 255, 255);
}

.cell2 {
    background-color: rgb(231, 231, 233);
}

.wall {
    background-color: rgb(43, 45, 66);
}

.select-sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
    box-sizing: border-box;
}